.description {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-row-gap);
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-title-row-gap);
  }

  &__body {
    @include flex(flex, space-between);
    gap: var(--gap-grid);

    @include tablet {
      @include flex(flex, center, start);
      flex-direction: column;
    }

    &-image {
      width: clamp(#{rem(300)}, -13.903rem + 51.02vw, #{rem(400)});
      height: auto;
      border-radius: var(--border-radius-lg);

      @include tablet {
        width: 100%;
        height: clamp(#{rem(100)}, 0.568rem + 28.409vw, #{rem(300)});
        object-fit: cover;
      }
    }
  }

  &__accent {
    @include flex(flex, space-between);
    gap: var(--gap-grid);

    @include tablet {
      @include flex(flex, center, start);
      flex-direction: column;
    }
  }

  &__card {
    --image-size: #{clamp(#{rem(70)}, 3.523rem + 4.261vw, #{rem(100)})};

    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
    background-color: var(--color-violet);
    border-radius: var(--border-radius-md);
    padding: clamp(#{rem(16)}, 0.773rem + 1.136vw, #{rem(24)});
    padding-right: var(--image-size);
    overflow: hidden;
    width: 100%;
    color: var(--color-light);

    &-image {
      @include square(var(--image-size));
      position: absolute;
      bottom: rem(-10);
      right: rem(-10);
    }
  }
}
