.projecting {
  padding-block: var(--section-padding-y);

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(24);

    @include tablet-above {
      :nth-child(2) {
        align-self: end;
      }
    }

    @include tablet {
      @include flex(flex, center, stretch);
      flex-direction: column;
      row-gap: rem(12);
    }
  }

  @include tablet {
    &-title {
      margin-bottom: calc(var(--inner-row-gap) - #{rem(12)});
    }
  }
}
