.description {
  padding-block: var(--section-padding-y);

  &__inner {
    @include flex(flex, space-between);
    gap: rem(24);

    @include tablet {
      @include flex(flex, center, start);
      flex-direction: column;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-title-row-gap);
  }

  &-image {
    width: clamp(#{rem(350)}, 8.814rem + 20.408vw, #{rem(390)});
    height: auto;
    border-radius: var(--border-radius-lg);
  }
}
