.functions {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-row-gap);
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: clamp(#{rem(30)}, -0.125rem + 10vw, #{rem(120)});
  }

  &__item {
    @include flex(flex, space-between);
    gap: var(--gap-grid);

    @include tablet {
      @include flex(flex, center, start);
      flex-direction: column;
    }

    &-image {
      width: rem(500);
      height: auto;
      border-radius: var(--border-radius-lg);
    }

    @include tablet-above {
      &:nth-child(even) &-image {
        order: -1;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--inner-title-row-gap);

    &-title {
      position: relative;
      padding-left: 1em;

      &::before {
        @include square(1em);
        content: '';
        position: absolute;
        background: url('/src/shared/assets/icons/bridge/lightning-filled.svg')
          center/contain no-repeat;
        top: 50%;
        left: 0;
        translate: -50% -50%;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: clamp(#{rem(8)}, 0.142rem + 1.79vw, #{rem(16)});
    }

    &-item {
      position: relative;
      padding-left: rem(12);

      &::before {
        @include square(#{rem(6)});
        content: '';
        position: absolute;
        background: #52e355;
        border-radius: 50%;
        top: 50%;
        left: 0;
        translate: -50% -50%;
      }
    }
  }
}
