.description {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-row-gap);
  }

  &__body {
    @include flex(flex, space-between);
    gap: var(--gap-grid);

    @include tablet {
      @include flex(flex, center, start);
      flex-direction: column;
    }
  }

  &-image {
    width: clamp(#{rem(200)}, 16.528rem + 11.111vw, #{rem(400)});
    border-radius: var(--border-radius-lg);
  }
}
