.copabilities {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-row-gap);
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-grid);

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background-color: var(--color-dark-alt);
    border-radius: var(--border-radius-rg);

    &-title {
      padding: rem(16);
      border-bottom: rem(2) solid var(--color-accent);
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: rem(8);
      padding: rem(16);
    }
  }

  &-image {
    width: 100%;
    height: clamp(#{rem(100)}, 1.806rem + 22.222vw, #{rem(300)});
    object-fit: cover;
    border-radius: var(--border-radius-lg);
  }
}
