.mission {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-row-gap);
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(0.75rem, 0.088rem + 2.206vw, 1.5rem);

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
