@use 'helpers' as *;

body {
	display: flex;
	flex-direction: column;
	font-family: var(--font-family-base), 'Arial', sans-serif;
	line-height: 1.25;
	font-size: rem(18);
	background-color: var(--color-dark);
	transition-property: background-color, color;
	transition-duration: var(--transition-duration);
}

#root {
	display: contents;
}

main {
	flex-grow: 1;
}

body[data-theme='dark'] {
	background-color: var(--color-dark);
	color: var(--color-light);
}

body[data-theme='light'] {
	background-color: var(--color-light);
	color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-accent), 'Arial', sans-serif;
	font-weight: 700;
	line-height: 1;
}

:focus-visible {
	outline: rem(2) dashed var(--color-accent);
	outline-offset: rem(4);
	transition-duration: 0s !important;
	z-index: var(--layer-lg);
}