@use 'helpers' as *;

:root {
    --color-dark: #030610;
    --color-dark-alt: #13151F;
    --color-light: #FFFFFF;
    --color-light-grey: #a7aab2;
    --color-accent: #146EF5;
    --color-accent-alt: #0d5dd5;
    --color-grey: #87888B;
    --color-grey-alt: #b6b6b6;

    --font-family-base: 'Onest';
    --font-family-accent: 'Play';

    --container-width: #{rem(1220)};
    --container-padding-x: #{rem(15)};
    --container-padding-y: #{rem(60)};

    --border-radius-sm: #{rem(4)};
    --border-radius-rg: #{rem(8)};
    --border-radius-md: #{rem(12)};
    --border-radius-lg: #{rem(24)};
    --border: #{rem(1)} solid var(--color-grey);
    --border-2: #{rem(2)} solid var(--color-grey);

    --layer-mn: 10;
    --layer-md: 50;
    --layer-lg: 100;

    --transition-duration: 0.2s;

    @include tablet {
        --container-padding-y: #{rem(30)};
    }
}