.description {
	padding-block: var(--section-padding-y);

	&__inner {
		position: relative;

		&::after,
		&::before {
			position: absolute;
			content: '';
		}

		&::after {
			@include square(rem(400));
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background: url('/src/shared/assets/images/description/chart.svg') center/contain no-repeat;
			z-index: -1;
		}

		&::before {
			top: 0;
			right: 0;
			width: rem(560);
			height: 100%;
			background: url('/src/shared/assets/images/description/Vector.svg') center/contain no-repeat;
			z-index: -10;
		}

		& p {
			position: relative;
			max-width: rem(777);
			padding-left: rem(50 + 24);

			&::before {
				@include square(rem(50));
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				border-radius: var(--border-radius-sm);
			}

			&:first-child {
				&::before {
				}
			}

			&:nth-child(2) {
				&::before {
					background: url('/src/shared/assets/images/description/Icon2.svg') center/contain no-repeat;
				}
			}

			&:last-child {
				&::before {
					background: url('/src/shared/assets/images/description/Icon3.svg') center/contain no-repeat;
				}
			}
		}
	}

	&__body {
		&-list {
			@include flex(flex, center, start);
			flex-direction: column;
			row-gap: rem(24);
			max-width: rem(777);
		}

		&-item {
			@include flex(flex, center, start);
			column-gap: rem(24);

			&:first-child {
				& > .description__body-icon {
					&::after {
						background: url('/src/shared/assets/images/description/Icon1.svg') center/contain no-repeat;
					}
				}
			}
			&:nth-child(2) {
				& > .description__body-icon {
					&::after {
						background: url('/src/shared/assets/images/description/Icon2.svg') center/contain no-repeat;
					}
				}
			}
			&:last-child {
				& > .description__body-icon {
					&::after {
						background: url('/src/shared/assets/images/description/Icon3.svg') center/contain no-repeat;
					}
				}
			}
		}

		&-icon {
			@include square(rem(50));
			position: relative;
			border-radius: var(--border-radius-sm);
			background-color: var(--color-dark-alt);
			flex-shrink: 0;

			body[data-theme='light'] & {
				background-color: var(--color-light-grey);
			}

			&::after {
				@include square(rem(24));
				@include abs-center();
				content: '';
			}
		}
	}

	&-info {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		padding: rem(16);
		border: var(--border);
		border-radius: rem(100);
		background: rgba(0, 0, 0, 0.5);
		@include backdrop(1);

		body[data-theme='light'] & {
			background: rgba(255, 255, 255, 0.5);
		}
	}
}