.description {
  padding-block: var(--section-padding-y);

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: clamp(#{rem(28)}, 0.206rem + 5.147vw, #{rem(56)});
  }

  &__body {
    @include flex(flex, space-between, center);

    @include tablet {
      @include flex(flex, center, start);
      flex-direction: column;
      row-gap: rem(20);
    }

    &-list {
      @include flex(flex, center, start);
      flex-direction: column;
      row-gap: rem(24);
      max-width: clamp(#{rem(677)}, 9.659rem + 51.02vw, #{rem(777)});

      @include tablet {
        max-width: unset;
      }
    }

    &-item {
      @include flex(flex, center, start);
      column-gap: clamp(#{rem(8)}, -1.5rem + 10vw, #{rem(24)});

      &:first-child {
        & > .description__body-icon {
          &::after {
            background: url('/src/shared/assets/images/description/Icon1.svg')
              center/contain no-repeat;
          }
        }
      }

      &:nth-child(2) {
        & > .description__body-icon {
          &::after {
            background: url('/src/shared/assets/images/description/Icon2.svg')
              center/contain no-repeat;
          }
        }
      }

      &:last-child {
        & > .description__body-icon {
          &::after {
            background: url('/src/shared/assets/images/description/Icon3.svg')
              center/contain no-repeat;
          }
        }
      }
    }

    &-icon {
      @include square(#{clamp(#{rem(30)}, -0.625rem + 12.5vw, #{rem(50)})});
      position: relative;
      border-radius: var(--border-radius-sm);
      background-color: var(--color-dark-alt);
      flex-shrink: 0;

      body[data-theme='light'] & {
        background-color: var(--color-light-grey);
      }

      &::after {
        @include square(#{clamp(#{rem(18)}, 0.375rem + 3.75vw, #{rem(24)})});
        @include abs-center();
        content: '';
      }
    }
  }

  &__images {
    position: relative;
    align-self: center;

    &-chart {
      position: relative;
      z-index: -1;
      width: rem(400);
      height: auto;
    }

    &-text {
      position: absolute;
      top: 50%;
      right: rem(15);
      transform: translateY(-50%);
      padding: rem(16);
      border: var(--border);
      border-radius: rem(100);
      background: rgba(0, 0, 0, 0.5);
      @include backdrop(1);

      body[data-theme='light'] & {
        background: rgba(255, 255, 255, 0.5);
      }
    }

    @include mobile-s {
      display: none;
    }
  }
}
