.banner {
	padding-block: var(--section-padding-y);

	&__inner {
		@include flex(flex, center, start);
		position: relative;
		flex-direction: column;
		row-gap: rem(48);

		&::after {
			@include square(rem(500));
			position: absolute;
			content: '';
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background: url('/src/shared/assets/images/banner/background.png') center/contain no-repeat;
			z-index: -1;
		}
	}

	&-title,
	&__subtitle {
		max-width: rem(777);
	}

	&-title {
		text-transform: uppercase;
		font-size: rem(80);
	}
}