.banner {
  padding-block: var(--section-padding-y);

  &__inner {
    @include flex(flex, space-between, center);

    @include tablet {
      @include flex(flex, center, start);
      flex-direction: column;
    }
  }

  &__main {
    @include flex(flex, center, start);
    flex-direction: column;
    row-gap: rem(48);
  }

  &-title,
  &__subtitle {
    max-width: rem(777);
  }

  &-title {
    text-transform: uppercase;
    font-size: clamp(#{rem(40)}, 0.71rem + 8.949vw, #{rem(80)});
  }

  &-image {
    display: flex;
    align-self: center;
    width: clamp(#{rem(400)}, 8.673rem + 25.51vw, #{rem(450)});
    height: auto;
    flex-shrink: 0;

    @include mobile-s {
      display: none;
    }
  }
}
