.description {
  padding-block: var(--section-padding-y);

  &__inner {
    @include flex(flex, space-between);
    gap: var(--gap-grid);

    @include tablet {
      @include flex(flex, center, start);
      flex-direction: column;
    }
  }

  &__body {
    @include flex(flex, center, start);
    flex-direction: column;
    row-gap: var(--inner-title-row-gap);
  }

  &-image {
    width: clamp(#{rem(150)}, 3.294rem + 20.27vw, #{rem(300)});
    height: auto;

    @include mobile-s {
      display: none;
    }
  }
}
