.icon {
  @include square(#{clamp(#{rem(30)}, -0.625rem + 12.5vw, #{rem(50)})});
  position: relative;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-dark-alt);
  flex-shrink: 0;

  body[data-theme='light'] & {
    background-color: var(--color-light-grey);
  }

  &-image {
    @include square(#{clamp(#{rem(18)}, 0.375rem + 3.75vw, #{rem(24)})});
    @include abs-center;
  }
}
