.feonyx {
  padding-block: var(--section-padding-y);

  &__inner {
    @include flex(flex, space-between);
    column-gap: rem(24);
  }

  &__body {
    @include flex(flex, center, start);
    flex-direction: column;
    row-gap: rem(24);
  }

  &-description {
    max-width: rem(777);

    & > p:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &-image {
    width: rem(240);
    height: auto;

    @include mobile {
      display: none;
    }
  }
}
