.invest {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-row-gap);
  }

  &__main {
    @include flex(flex, space-between, center);
    column-gap: rem(24);

    @include mobile {
      flex-direction: column;
      row-gap: rem(16);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-title-row-gap);
    max-width: rem(777);

    &-description {
      & > p:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }

  &-image {
    width: clamp(#{rem(120)}, 2.131rem + 26.846vw, #{rem(240)});
    height: auto;
  }
}
