@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) - var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.hidden-mobile {
  @include mobile {
    display: none;
  }
}

.hidden-tablet {
  @include tablet {
    display: none;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none;
  }
}

.visually-hidden {
  @include visually-hidden;
}
