.roadmap {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-row-gap);
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: var(--gap-grid);

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    &-title {
      color: var(--color-violet);
      padding-bottom: clamp(#{rem(8)}, 0.142rem + 1.79vw, #{rem(16)});
      border-bottom: var(--border);
      text-align: center;
    }

    &-description {
      padding-top: clamp(#{rem(8)}, 0.142rem + 1.79vw, #{rem(16)});
      text-align: center;
    }
  }
}
