.servicecard {
  @include flex(flex, space-between, start);
  flex-direction: column;
  row-gap: rem(24);
  background-color: var(--color-dark-alt);
  padding: rem(16);
  border-radius: var(--border-radius-lg);
  height: 100%;

  &-image {
    height: clamp(#{rem(90)}, 0.625rem + 25vw, #{rem(130)});
    width: auto;
  }

  &__info {
    @include flex(flex, center, start);
    flex-direction: column;
    row-gap: rem(16);
  }
}
