.servicecard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: rem(24);
  height: 100%;

  &-image {
    height: clamp(#{rem(90)}, 0.625rem + 25vw, #{rem(130)});
    width: auto;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
  }
}
