.why {
  padding-block: var(--section-padding-y);

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-row-gap);
  }

  &-list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr;
    align-items: center;
    gap: var(--gap-grid);
    padding-block: rem(16);
    border-bottom: var(--border);

    @include mobile {
      display: flex;
      flex-direction: column;
    }

    &:first-child {
      border-top: var(--border);

      @include mobile {
        display: none;
      }
    }

    &:nth-child(2) {
      @include mobile {
        border-top: var(--border);
      }
    }

    :not(:first-child) {
      text-align: center;
    }

    :last-child {
      color: var(--color-violet);
    }
  }
}
