.menu {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(2/3*100%);
	height: 100svh;
	background: rgba(0, 0, 0, 0.47);
	@include backdrop(24);
	transform: translateX(100%);
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: var(--transition-duration);
	z-index: var(--layer-md);

	@include mobile-s {
		width: 100vw;
	}

	&--open {
		transform: translateX(0);
		opacity: 1;
	}

	&__inner {
		@include flex(flex, center, start);
		flex-direction: column;

		position: relative;
		padding-block: rem(100) rem(12);
		padding-inline: rem(20) rem(12);
		height: 100%;
		color: var(--color-light);
	}

	&__logo {
		&-image {
			position: absolute;
			top: 0;
			left: rem(20);
		}
	}

	&__main,
	&__settings {
		&-title {
			padding-bottom: rem(8);
			border-bottom: var(--border-2);
			width: 100%;
			color: var(--color-grey-alt);
			text-transform: uppercase;
			font-size: rem(14);
			font-weight: 700;
			margin-bottom: rem(20);
		}
	}

	&__main {
		flex-grow: 1;
		width: 100%;
	}

	&__extra {
		width: 100%;
	}
}