@use 'functions' as *;

$desktop: 1440.98;
$laptop: 1240.98;
$tablet: 1023.98;
$mobile: 767.98;
$mobile-s: 480.98;

@mixin desktop {
  @media (width <= rem($desktop)) {
    @content;
  }
}

@mixin desktop-above {
  @media (width > rem($desktop)) {
    @content;
  }
}

@mixin laptop {
  @media (width <= rem($laptop)) {
    @content;
  }
}

@mixin laptop-above {
  @media (width > rem($laptop)) {
    @content;
  }
}

@mixin tablet {
  @media (width <= rem($tablet)) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > rem($tablet)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= rem($mobile)) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > rem($mobile)) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= rem($mobile-s)) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > rem($mobile-s)) {
    @content;
  }
}

@mixin hover($active: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
    &:focus-visible {
      @content;
    }
  }
  @if ($active) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
      &:focus-visible {
        @content;
      }
    }
  }
}
