.description {
  padding-block: var(--section-padding-y);

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: var(--inner-row-gap);
  }

  &__body {
    @include flex(flex, space-between, center);

    @include tablet {
      @include flex(flex, center, start);
      flex-direction: column;
      row-gap: rem(20);
    }

    &-list {
      @include flex(flex, center, start);
      flex-direction: column;
      row-gap: var(--gap-grid);
      max-width: clamp(#{rem(677)}, 9.659rem + 51.02vw, #{rem(777)});

      @include tablet {
        max-width: unset;
      }
    }

    &-item {
      @include flex(flex, center, start);
      column-gap: clamp(#{rem(8)}, -1.5rem + 10vw, #{rem(24)});
    }
  }

  &__images {
    position: relative;
    align-self: center;

    &-chart {
      position: relative;
      z-index: -1;
      width: rem(400);
      height: auto;
    }

    &-text {
      position: absolute;
      top: 50%;
      right: rem(15);
      transform: translateY(-50%);
      padding: rem(16);
      border: var(--border);
      border-radius: rem(100);
      background: rgb(0 0 0 / 50%);

      @include backdrop(1);

      body[data-theme='light'] & {
        background: rgb(255 255 255 / 50%);
      }
    }

    @include mobile-s {
      display: none;
    }
  }
}
