.infocard {
  display: flex;
  flex-direction: column;
  row-gap: rem(16);
  padding: clamp(#{rem(16)}, 0.642rem + 1.79vw, #{rem(24)});
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius-md);
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  body[data-theme='light'] & {
    background-color: var(--color-light-grey);
  }

  &__title {
    @include flex(flex, start);
    column-gap: rem(6);
  }

  &-body {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &-image {
    @include square(#{clamp(#{rem(18)}, 0.375rem + 3.75vw, #{rem(24)})});
  }
}
